certifi==2021.5.30
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama==0.4.4
cycler==0.10.0
dataclasses==0.8
DateTime==4.3
Flask==2.0.1
Flask-Cors==3.0.10
importlib-metadata==4.5.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
kneed==0.7.0
MarkupSafe @ file:///C:/ci/markupsafe_1621528313524/work
matplotlib==3.3.4
naive-bayes==0.1.1
numpy==1.19.5
pandas==1.1.5
Pillow==8.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wincertstore==0.2
xgboost==1.4.2
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
zope.interface==5.4.0
